*{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: rgb(190,190,190);

}


header{

    background: rgb(230,50,50);
    font: 2em roboto;
    height: 10%;
    color: white;
    text-align: center;
    animation: start 5s;
}

main{
    background: rgb(190,190,190);
    height: 180%;
    overflow: hidden;
}

#og{
    height: 5%;
    width: 50%;
    position: absolute;
    left: 5%;
    top: 10%;

}

#og > li{
    font: 2em roboto;
    text-wrap: wrap;
}

#intro{
    font: 1.5em roboto;
    text-wrap: wrap;

    position: absolute;
    top: 50%;
    left: 10%;
}

.line{
    height: 1px;
    border: 1px dashed rgb(100, 100,100);
    position: absolute; 

}

#onel{
    top: 40%;
}


#twol{
    top:65%;
}




#line2{
    width: 90%;
    height: 10%;
    background: linear-gradient(90deg,rgb(228, 57, 57), rgb(44, 216, 58));
    position: absolute;
    left: 5%;
    border-radius: 100px;
    top:20%;
}


#generations{
    display: flex;
    position: absolute;
    left: 10%;
    top: -4%;
    z-index: 100;
    overflow: hidden;

}

.line3{
    height: 13%;
    width: 1px;
    border: 4px solid black;
    margin: 10%;
}

#gens{
    opacity: 0;
    position: absolute;
    top: 100%;
    overflow: hidden;

}

#gens2{
    animation: hiding 1s;
    position: absolute;
    top: 100%;
    z-index: 0;
    overflow: hidden;
}
@keyframes hiding {
    from{
        opacity: 0;
        top: 140%
    }
    to{
        opacity: 100;
        top: 100%;
    }
}



.langs{
    font: 1em roboto;
    position: absolute;
}


#lone{
    left: 10%;
}

#ltwo{
    left: 28%;
}

#lthree{
    left: 45%;
}

#lfour{
    left: 64%;
}

#lfive{
    left: 85%;
}

@keyframes start {
    from{
        position: absolute;
        color: rgb(230,50,50);
        font: 50em roboto;
        height: 100%;
        text-align: center;
        z-index:1000;
        display: inline-block;
        text-align: center;

    }
    30%{
        position: absolute;
        color: white;
        font: 50em roboto;
        height: 100%;
        text-align: center;
        display: inline-block;
        text-align: center;
        z-index:1000;

    }
    60%{
        position: absolute;
        color: white;
        font: 50em roboto;
        height: 100%;
        text-align: center;
        display: inline-block;
        text-align: center;
        z-index:1000;

    }

}

